{% extends 'shared/layout.html' %}
{% load render_partial %}


{% block title %}
تغییر کلمه عبور
{% endblock %}

{% block content %}
    <section class="register-page section-b-space">
        <div class="container">
            <div class="row">
                {% render_partial 'dashboard_user.views.menu_dashboard' %}
                <div class="col-lg-9">
                    <h3 class="title pt-0">تغییر کلمه عبور</h3>
                    <div class="theme-card">
                        <form method="post" class="theme-form form-control">
                            {% csrf_token %}
                            <div class="row">
                                {{ form }}
                            </div>
                            <div class="row">
                                <div>
                                    <button type="submit" class="btn btn-solid w-auto"> ثبت</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}