
<!-- latest jquery-->
<script src="/static/js/jquery-3.3.1.min.js"></script>

<!-- menu js-->
<script src="/static/js/menu.js"></script>

<!-- slick js-->
<script src="/static/js/slick.js"></script>

<!-- Bootstrap js-->
<script src="/static/js/bootstrap.bundle.min.js"></script>

<!-- Timer js-->
<script src="/static/js/timer.js"></script>

<!-- Bootstrap Notification js-->
<script src="/static/js/bootstrap-notify.min.js"></script>

<!-- Theme js-->
<script src="/static/js/script.js"></script>

<script>
    $(window).on('load', function () {
        $('#exampleModal').modal('show');
    });
</script>

<!-- modal js-->
<script src="/static/js/modal.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="/static/js/custom.js"></script>
